# Karmude Krishna Hanmant

## 24030331245018

1 Store and display student information (name, age, grade).

In [1]:
student=("Rushi",19,"A grade")

print("student name:",student[0])
print("student age:",student[1])
print("student grade:",student[2])

student name: Rushi
student age: 19
student grade: A grade

2 List prices of grocery items and total them.

In [2]:
groceries=(
    ("apple",100),
    ("milk",200),
    ("soap",300),
    ("bottle",400),
    ("rice",500)
)

print("grocery list:")
total_cost=0
for item in groceries:
    print(f"{item[0]}: rupee{item[1]}")
    total_cost+= item[1]

print("\nTotal cost: rupee",total_cost)

grocery list:
apple: rupee100
milk: rupee200
soap: rupee300
bottle: rupee400
rice: rupee500

Total cost: rupee 1500

3 Pair items with prices using tuples.
("Milk", 25), ("Eggs", 50), ("Bread", 20)

In [3]:
grocery_items = (
    ("Milk", 25),
    ("Eggs", 50),
    ("Bread", 20)
)

print("Grocery Items and Prices:")
for item in grocery_items:
    print(f"{item[0]}: ₹{item[1]}")

Grocery Items and Prices:
Milk: ₹25
Eggs: ₹50
Bread: ₹20

4 Store and display train schedule as tuples.
("Rajdhani","10:00"), ("Shatabdi","12:30"), ("Duronto","17:00")

In [4]:
Schedule=(
    ("Rajdhani","10:00"),
    ("Shatabdi","12:30"),
    ("Duronto","17:00")
)

print("Train and its Time:")
for train in Schedule:
    print(f"{train[0]}={train[1]}")

Train and its Time:
Rajdhani=10:00
Shatabdi=12:30
Duronto=17:00

5 Sort employee records by salary.
("John", 40000), ("Alice", 55000), ("Raj", 30000)

In [8]:
Employee_Records= (
    ("John",40000),
    ("Alice",55000),
    ("Raj",30000)
)

print("Employee and thier records:")
for Employee in Employee_Records:
    print(f"{Employee[0]}={Employee[1]}")

Employee and thier records:
John=40000
Alice=55000
Raj=30000

6 Count how many students scored above 75 marks.
marks = (67, 88, 92, 74, 76, 55)

In [9]:
Marks=(67, 88, 92, 74, 76, 55)
above_75_marks=sum(1 for mark in Marks if mark>75)
print(f"The marks above 75 mark is:{above_75_marks}")

The marks above 75 mark is:3

7 Create a tuple of stock prices and find the max.
Prices = (154.5, 160.2, 149.8, 170.1)

In [13]:
prices = (154.5, 160.2, 149.8, 170.1)
max_price = max(prices)
print(f"The maximum price in Given Prices is:{max_price}")

The maximum price in Given Prices is:170.1

8 Log temperature readings during the day. Find the average temperature
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)

In [11]:
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
Average_temp=sum(temperatures)/len(temperatures)
print(f"Average Temperature={Average_temp:.2f} c")

Average Temperature=30.42 c

9 Schedule appointments (name, time).
appointments = ("Doctor", "10:00 AM"), ("Meeting","2:00 PM")

In [12]:
appointments = (
                ("Doctor", "10:00 AM"),
                ("Meeting","2:00 PM")
               )
print("Appointments:")
for appointment in appointments:
    print(f"{appointment[0]}->{appointment[1]}")

Appointments:
Doctor->10:00 AM
Meeting->2:00 PM

10 Store contact info (name, phone number).
contacts = ("Anil","9876543210"), ("Priya","9123456780")

In [14]:
contacts = (
    ("Anil","9876543210"),
    ("Priya","9123456780")
)
print("Contact List:")
for contact in contacts:
    print(f"Name:{contact[0]}, Phone number:{contact[1]}")

Contact List:
Name:Anil, Phone number:9876543210
Name:Priya, Phone number:9123456780

11 Display exam schedule with subject and time.
exams = ("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM")

In [15]:
exams = (
    ("Math","9:00 AM"),
    ("Science","11:30 AM"),
    ("English","2:00 PM")
)

print("Exam Schedule:")
for tt in exams:
    print(f"Subject={tt[0]}        Time={tt[1]}")

Exam Schedule:
Subject=Math        Time=9:00 AM
Subject=Science        Time=11:30 AM
Subject=English        Time=2:00 PM